body {
    margin: 0;
    padding: 0;
}

.nav-bar{
    width: screen;
    background: green;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.box{
    width:fit-content;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}
