body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  width: screen;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.box {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 4rem;
}

.profile-picture img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.buscar-libro::placeholder {
  font-size: 15px;
  align-self: center;
}

.select-categorias {
  background-color: red;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  z-index: 3000;
  position: absolute;
  top: 3rem;
  width: 20rem;
  left: 8rem;
  height: fit-content;
  font-size: large;
}

body {
  font-family: "Roboto";
}

.primera-parte {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  border-bottom: 1px solid #9e9e9e;
  box-shadow: #9e9e9e 0rem 0.1rem;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}

.cont-titulo strong{
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.cont-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  gap:1rem;
}

.cont-titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-libro {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.element {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 16px;
}

.subtitulo {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}

.element img {
  height: 16px;
  object-fit: contain;
}

.leer {
  background-color: #147c58;
  border-radius: 2rem 0rem 0rem 2rem;
  padding: 0.8rem 2.5rem;
  display: flex;
  flex-direction: row;
  color: white;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.icon{
  filter:invert(100%)
}

.texto{
  text-align: justify;
}

.download {
  background-color: #147c58;
  border-radius: 0rem 2rem 2rem 0rem;
  padding: 0.8rem 1.5rem;
  display: flex;
  flex-direction: row;
  color: white;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.acciones {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.portada img {
  border-radius: 0.5rem;
  height: 19rem;
}

.subio-sinopsis {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: red; */
    max-width: 32rem; 
    min-width: 22rem;

}

.icono {
  height: 16px;
}

.reportar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.element strong{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 12rem;
  align-items: center;
  justify-content: center;
}

.etiquetas-reportar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.segunda-parte {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.6rem;
  padding: 1.5rem 0 1.5rem 0;
  /* max-width: 54rem;  */
  /* width: 48rem;  */
  /* background-color: blue; */
}

.fav{
  height: 1.8rem;
  width: 1.8rem;
  object-fit: cover;
}

.perfil img {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 100%;
  object-fit: cover;
}

.perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.etiquetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 22rem;
  gap: 1rem;
}

.etiqueta {
  display: flex;
  align-items: center;
  background-color: #21BA64;
  font-size: 14px;
  height: 2.8rem;
  padding: 0 0.7rem 0 0.7rem;
  border-radius: 1.5rem;
  color: black;
}
