body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  width: screen;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.box {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 4rem;
}

.profile-picture img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.buscar-libro::placeholder {
  font-size: 15px;
  align-self: center;
}

.select-categorias {
  background-color: red;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  z-index: 3000;
  position: absolute;
  top: 3rem;
  width: 20rem;
  left: 8rem;
  height: fit-content;
  font-size: large;
}

body {
  font-family: "Roboto";
}

/* GRID */
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 1.5rem 12rem 1.5rem 12rem;
  justify-content: center;
}

.cont-libro{
  display: flex;
  justify-content: center;
  align-items: center;

}
.libro {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.parent div img {
  height: 14rem;
  /* width: 10rem; */
  object-fit: cover;
  border-radius: 1rem;
}

